<ion-header>
  <ion-navbar>
    <ion-item>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
      <ion-title item-right>Front Page</ion-title>
      <button ion-button item-right (click)="logOut($event)">
      <ion-icon name="log-out"></ion-icon>
    </button>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <cards *ngFor="let media of mediaList" [cardData]="media">
  </cards>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="circles" loadingText="Loading more data...">></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab *ngIf="isScrollUp" bottom center>
    <button ion-fab mini (click)=goUp($event)><ion-icon name="arrow-up"></ion-icon></button>
  </ion-fab>
</ion-content>
