<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Front Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let card of mediaList">
    <ion-item>
      <!--<ion-avatar item-left>
        <img src="img/marty-avatar.png">
      </ion-avatar>-->
      <h2>{{card.username}}</h2>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-left>
        <img [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + (card.filename | thumbnails: 'small')">
      </ion-thumbnail>
      <h2>{{card.title}}</h2>
      <p>{{card.description}}</p>
      <button ion-button clear item-right>View</button>s
    </ion-item>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>{{card.likes.length}}</div>
      </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>{{card.comments.length}}</div>
      </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          <ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="card.time_added"></ion-datetime>
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="circles" loadingText="Loading more data...">></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab *ngIf="isScrollUp" bottom center>
    <button ion-fab mini (click)=goUp($event)><ion-icon name="arrow-up"></ion-icon></button>
  </ion-fab>
</ion-content>
