<ion-card>
  <ion-item>
    <!--<ion-avatar item-left>
        <img src="img/marty-avatar.png">
      </ion-avatar>-->
    <h2>{{card.username}}</h2>
  </ion-item>
  <ion-item>
    <ion-thumbnail item-left>
      <img [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + (card.filename | thumbnails: 'small')" alt="audio file">
    </ion-thumbnail>
    <h3>{{card.media_type}}</h3>
    <h2>{{card.title}}</h2>
    <p>{{card.description}}</p>
    <button ion-button clear item-right (click)="view($event)">View</button>s
  </ion-item>
  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>{{card.likes.length}}</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>{{card.comments.length}}</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        <ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="card.time_added" disabled="true"></ion-datetime>
      </ion-note>
    </ion-col>
  </ion-row>
</ion-card>
